@model HandsomeHedgehogHoedown.Models.Computer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
@*if statement added to check if computer has a decommission date*@
@*Authored by : Tamela Lerma*@
<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DecommissionedDate)
        </dt>
        @if (Model.DecommissionedDate == null)
        {
            <dd>
                Computer is Active
            </dd>
        }
        else { 
            <dd>
                @Html.DisplayFor(model => model.DecommissionedDate)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ComputerId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ComputerId">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
