@model IEnumerable<HandsomeHedgehogHoedown.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <td>
                <strong> @Html.DisplayNameFor(model => model.Manufacturer)</strong>
            </td>
            <td>
                <strong> @Html.DisplayNameFor(model => model.Make)</strong>
            </td>
            <td>
                <strong> @Html.DisplayNameFor(model => model.PurchaseDate)</strong>
            </td>
            <td>
                <strong> @Html.DisplayNameFor(model => model.DecommissionedDate)</strong>
            </td>
        </tr>
    </thead>
    @*foreach to display all items in table and if to check for decommission date
        Authored by : Tamela Lerma*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ComputerId">
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ComputerId">
                        @Html.DisplayFor(modelItem => item.Make)
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ComputerId">
                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                    </a>
                </td>
                @if (item.DecommissionedDate == null)
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ComputerId">
                            Computer is Active
                        </a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ComputerId">
                            @Html.DisplayFor(modelItem => item.DecommissionedDate)
                        </a>
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ComputerId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ComputerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>
