@model HandsomeHedgehogHoedown.ViewModels.EmployeeDetailViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Employee.EmployeeId" />
        <div class="form-group">
            <label asp-for="Employee.LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
        </div>
        @{ 
            List<SelectListItem> departmetListItems = new List<SelectListItem>();
            foreach(var dept in Model.DepartmentList)
            {
                departmetListItems.Add(new SelectListItem
                {
                    Text = dept.Name,
                    Value = dept.DepartmentId.ToString()

                });

            }
        }
        @{
            List<SelectListItem> trainingListItems = new List<SelectListItem>();
            foreach (var prog in Model.OtherPrograms)
            {
                trainingListItems.Add(new SelectListItem
                {
                    Text = prog.Name,
                    Value = prog.TrainingProgramId.ToString()
                });

            }
        }
        @{ 
            List<SelectListItem> computerListItems = new List<SelectListItem>();
            foreach(var comp in Model.OtherComputers)
            {
                computerListItems.Add(new SelectListItem
                {
                    Text = comp.Manufacturer + " " + comp.Make,
                    Value = comp.ComputerId.ToString()
                });
            }
        }
        @Html.DropDownList("Departments", departmetListItems, Model.Department.Name)
        
        @Html.DropDownList("Computers", computerListItems, "Select a Computer")
        @foreach(var comp in Model.Computer)
        {
            <div>@comp.Manufacturer @comp.Make</div>
        }

        @Html.DropDownList("Training Programs", trainingListItems, "Select a Training Program")
        @foreach (var prog in Model.TrainingPrograms)
        {
            <div>@prog.Name</div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
