@model HandsomeHedgehogHoedown.ViewModels.EditEmployeeViewModel

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Employee.EmployeeId" />
        <input type="hidden" asp-for="Employee.FirstName" />
        <div class="form-group">
            <label asp-for="Employee.LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
        </div>
        @{ 
            List<SelectListItem> departmetListItems = new List<SelectListItem>();
            foreach(var dept in Model.DepartmentList)
            {
                departmetListItems.Add(new SelectListItem
                {
                    Text = dept.Name,
                    Value = dept.DepartmentId.ToString()

                });

            }
        }
        @{
            List<SelectListItem> trainingListItems = new List<SelectListItem>();
            foreach (var prog in Model.OtherPrograms)
            {
                trainingListItems.Add(new SelectListItem
                {
                    Text = prog.Name,
                    Value = prog.TrainingProgramId.ToString()
                });

            }
        }
        @{ 
            List<SelectListItem> computerListItems = new List<SelectListItem>();
            foreach(var comp in Model.OtherComputers)
            {
                computerListItems.Add(new SelectListItem
                {
                    Text = comp.Manufacturer + " " + comp.Make,
                    Value = comp.ComputerId.ToString()
                });
            }
        }
        @Html.Label("Departments")
        @Html.DropDownListFor(x => x.Employee.DepartmentId, departmetListItems, "Select a Department")
        <br />
        @Html.Label("Computers")
        @Html.DropDownListFor(x => x.ComputerId, computerListItems, "Select a Computer")
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Model.Employee.FirstName @Model.Employee.LastName's Computers
                    </th>
                </tr>
            </thead>
            <tr></tr>
            <tbody>
                @foreach (var comp in Model.Computer)
                {
                    <tr>
                        <td>
                            @comp.Manufacturer
                        </td>
                        <td>
                            @comp.Make
                        </td>
                        <td>@comp.ComputerId</td>
                        <td>@Model.Employee.EmployeeId</td>
                        <td>
                            <a asp-action="DeleteEC" asp-route-id="@comp.ComputerId" asp-route-empId="@Model.Employee.EmployeeId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <br />
        @Html.Label("Training Programs")
        @Html.DropDownListFor(x => x.TrainingId, trainingListItems, "Select a Training Program")
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Model.Employee.FirstName @Model.Employee.LastName's Training Programs
                    </th>
                </tr>
            </thead>
            <tr></tr>
            <tbody>
                @foreach (var prog in Model.TrainingPrograms)
                {
                    <tr>
                        <td>
                            @prog.Name
                        </td>
                        <td>
                            <a asp-action="Delete">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}